@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
body {
    display: flex;
    background-image: url(tibia.jpg);
    background-repeat: repeat;
    background-size: cover;
}
#logo {
    text-align: center;    

}
  
main.maincontainer {
    margin: 0 auto;
}
  
div.labirinto {
    margin: 0 auto;
    text-align: center;
}
  

.labirinto {
    margin: 50px;
    padding: 20px;
    justify-content: center;
    position: absolute;
    left: 25%;
}
  
.linha {
    display: flex;
    flex-direction: row;
    background-image: url(pisotibia.gif);
}
.jogoLab {
    background-image: url(pisotibia.gif);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;

}
  
.final.jogoLab {
    background-image: url(Golden_Boots.gif);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.parede {
    width: 50px;
    height: 50px;
    background-image: url(Lava_Tile.gif);
}
  
.vazio {
    background-image: url(pisotibia.gif);
}
#jogador {
    width: 40px;
    height: 40px;
    background-image: url(Hero.gif);
    background-size:cover;
}
.meteor {
        display: flex;
        content: url('meteor.gif');
        width: 300px;
        height: 300px;
        margin-left: 580px;
        animation: rotate 0,4s infinite;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
      }
      @keyframes rotate{
        50% {transform: rotate(10deg);}
        100% {transform: rotate(0deg);}
        }
        #victory {
            display: flex;
              flex-flow: wrap;
              justify-content: space-around;
              align-items: center;
              font-family: "Staatliches", cursive;
              letter-spacing: 5px;
              margin-right: 15px;
              text-shadow: white 2px 2px 1px;
              margin-top: 0 auto;
              animation: textoAnimado 0.2s infinite;
              text-decoration-color: white;
            }
        
  